
<div class="jumbotron jumbotron-fluid" id="jumbotron">
  <div class="container">
    <h1 class="display-4 jumbo-header"><span class="jumbo-logo">Uber</span><span class="logoChef">Chef</span></h1>
    <p class="lead jumbo-logo">Your favorite meals cooked by professional chefs in your home</p>
    <form action="/value" class="form-inline my-2 my-lg-0 " name="form1" id="main-form">
      <select id='city-select' class="form-control main-select">
        <option value="Auckland">Auckland</option>
        <option value="Wellington">Wellington</option>
        <option value="Christchurch">Christchurch</option>
        <option value="Hamilton">Hamilton</option>
      </select>
      <button id="main-submit" class="btn btn-outline-success my-2 my-sm-0 submit" type="submit">Find a Chef</button>
    </form>
  </div>
</div>