<div class="jumbotron jumbotron-fluid" id="jumbotron">
  <div class="container">
    <h1 class="display-4 jumbo-header"><span class="jumbo-logo">Uber</span><span class="logoChef">Chef</span></h1>
    <p class="lead jumbo-logo">Your favorite meals cooked by professional chefs in your home</p>
    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" placeholder="Enter Address" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 submit" type="submit">Find a Chef</button>
    </form>
  </div>
</div>