{{>jumbotron}}

<div class="row chef-container">
    {{#each chefs}}
    <div class="col-3">
        <p class="chef-name">{{name}}</p>
        <a href="/{{chef_id}}"><img class="chef-img" src="{{img}}" alt="{{name}}"></a>
    </div>
    {{/each}}
</div>