<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Full Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Location</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Wellington</option>
                <option>Christchurch</option>
                <option>Auckland</option>
                <option>Hamilton</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Write a Short Bio</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Choose Your speciality</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Mexican</option>
                <option>Italian</option>
                <option>French</option>
                <option>Thai</option>
                <option>Indian</option>
                <option>Japenese</option>
                <option>American</option>
                <option>Malaysian</option>
                <option>Greek</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Provide 3 Example Images Of Your Food</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Img1">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Img2">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Img3">
        </div>
    </form>
</div>