<div class="container">
    <form action="/" method="POST">
        <div class="form-group">
            <label for="exampleFormControlInput1">Full Name</label>
            <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Profile Picture</label>
            <input name="chefImg" type="text" class="form-control" id="exampleFormControlInput1" placeholder="img">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Location</label>
            <select name="location" class="form-control" id="exampleFormControlSelect1">
                <option value="Wellington">Wellington</option>
                <option value="Christchurch">Christchurch</option>
                <option value="Auckland">Auckland</option>
                <option value="Hamilton">Hamilton</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Write a Short Bio</label>
            <textarea name="bio" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Choose Your speciality</label>
            <select name="cuisine" class="form-control" id="exampleFormControlSelect1">
                <option value=201>Mexican</option>
                <option value=202>Italian</option>
                <option value=203>French</option>
                <option value=204>Thai</option>
                <option value=205>Indian</option>
                <option value=206>Japenese</option>
                <option value=207>American</option>
                <option value=208>Malaysian</option>
                <option value=210>Greek</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Provide 3 Example Images Of Your Food</label>
            <input name="img1" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Img1">
            <input name="img2" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Img2">
            <input name="img3" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Img3">
        </div>
        <button type="submit" class="btn btn-primary submitnpm run debug
        ">Submit</button>
    </form>
</div>