/* #e67e22; */
body {
    padding-top:70px;
 }

.logoChef{
    color: #e67e22;
}

.submit {
    color: white;
    border-color: #e67e22;
    background-color: #e67e22;
}

.logo-full{
    /* color: #e67e22; */
    font-size: 30px;
    margin-left: 20px;
}

#jumbotron{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(images/hero.jpg);
    background-size: cover;
    height: 100vh;
}

.jumbo-logo {
    color: white;
}

.jumbo-header{
    margin-top: 14%;
}

.chef-img {
    width: 90%;
    height: 15vw;
    object-fit: cover;
    border-radius: 35%;
    margin-top: 20%;
}

.chef-container{
   margin: 0 5% 20px 5%;
}

.chef-name{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 3%;
}

.chef-page-img{
    width: 70%;
    margin-top: 20vh;
    margin-left: 10vw;
    border-radius: 35%;
    
}

.main-select{
    margin-right: 5px;
}

.icon {
    width:15%;
    height:15%;
    margin-left: 8%;
  
    
}

.cuisine-container {
    display: flex;
    margin-top: 10px;
    
}

.cuisine-text{
    color: #e67e22;
    font-size: 20px;
    text-align: center;
}

.cuisine-submit{
    margin-left: 5px;
}

.ind-chef{
    text-align: center;
    margin-top: 5Vh;
}

li {
    list-style-type: none;
}

.food-img{
    width: 50vw;
}